
<div class="col-lg-12">
  <p>
    <h2>Lets Train the Network</h2>
  </p>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <a class="btn btn-primary" href="/admin/neural/train">Train the Data</a>
    </div>
    <div class="col-md-6">
      <a class="btn btn-primary" href="/admin">Something</a>
    </div>
  </div>
</div>
